@font-face {
  font-family: 'Geist Sans';
  src:
    url('./Geist-Regular.woff2') format('woff2'),
    url('./Geist-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Geist Sans';
  src:
    url('./Geist-Bold.woff2') format('woff2'),
    url('./Geist-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Geist Sans';
  src:
    url('./Geist-Light.woff2') format('woff2'),
    url('./Geist-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}
